//
   Created by yeyangmei on 16/11/15.

ul(class=styles.sup)
    each firstLevel, index in menu
        li(class=styles.sup_li)
            em: img(src= 'http://' + firstLevel.img_small)
            span= index
            ul(class=styles.sub)
                each subLevel in firstLevel.branch
                    li(class=styles.sub_li)
                        if subLevel.branch
                            span=subLevel.title
                            span(class=styles.arrow)
                            ul(class=styles.three_sub)
                                each threeLevel, index in subLevel.branch
                                    li(class=styles.three_li)
                                        a(href= 'http://' + threeLevel.name)=threeLevel.title
                        else
                            a(href= subLevel.name)=subLevel.title